/* You can add global styles to this file, and also import other style files */

$music-mania-pink:#F75660;
$music-mania-black:#000000;
$music-mania-white:#ffffff;

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

::ng-deep {
    .mat-icon {
        transform: scale(1.6);
    }

    .mdc-icon-button {
        background: transparent;
    }

    .mobile-view {
        .mat-icon {
            transform: scale(1);
        }
    }
}