<app-navbar #navBar [isPlaying]="false" [displayTitle]="displayTitle" [isBackGroundVisible]="isBackGroundVisible">
</app-navbar>
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to the World of M<span class='music'>us</span>
                <span class='magic'>ag</span><span class='closing'>ic</span>
            </div>
        </div>
        <app-player *ngIf="(trackStore.currentSong|async)?._id"></app-player>
        <div class="player" *ngIf="!((trackStore.currentSong|async)?._id)">
            <span class="material-icons" (click)="router.navigate(['/track'])" title="Play Songs Now!">
                play_circle
            </span>
            <span class='intro-desc'>Listen to unlimited Soft Indian Melodies.</span>
        </div>
    </div>
</header>
<section *ngIf="!(authService.isLoggedIn()|async)">
    <div class="container second">
        <div class="intro-text">
            <div class="intro-lead-in">Music can make heart, mind and soul <span class='music'>happy</span>
                <span class='magic'>ecstatic</span><span class='closing'> .</span>
            </div>
        </div>
        <app-login-svg></app-login-svg>
        <div class="player">
            <button class="login cta-button" title="Login/ SignUp" (click)="navBarInput?.openContextMenu($event);">
                <mat-icon>login</mat-icon>Login/ SignUp
            </button>
            <span class='intro-desc'>Get Access to create personal Playlists</span>
        </div>
    </div>
</section>
<section>
    <div class="container third" [class]="(authService.isLoggedIn()|async)? 'second':'third'">
        <div class="intro-text">
            <div class="intro-lead-in">Music can heal any pain <span class='music'>within you</span>
                <span class='magic'>in the world</span><span class='closing'> .</span>
            </div>
        </div>
        <app-web-developer></app-web-developer>
        <div class="player">
            <button class="about cta-button" title="About" (click)="router.navigate(['/about'])">
                <mat-icon>info</mat-icon>About
            </button>
            <span class='intro-desc'>Learn more about App and Developer.</span>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</section>