music-mania/.editorconfig
music-mania/node_modules
server/node_modules
music-mania/.browserslistrc
server/data/songs/*
server/data/pictures/*
server/data/thumbnail/*
Music Mania Logo.svg
Music Mania Logo.ai
Music Mania Logo.psd
