body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.top-heading {
  display: flex;
  align-items: center;
}

.top-heading .image {
  margin-right: 10px;
}

.top-heading .bold {
  font-weight: bold;
}