.login-form {
    display: flex;
    flex-direction: column;
}

.login-width {
    width: 500px;
}

::ng-deep {
    .cdk-global-overlay-wrapper {
        justify-content: flex-end !important;

        .mat-mdc-dialog-surface {
            overflow: hidden;
        }
    }
}