<ng-container>
    <div class="fixed-toolbar">
        <app-playlist-tool [settings]="settings" [textColor]="currentSong.textColor" (sortSong)="sortSong($event)"
            (closePlayList)="closePlayList()" (searchSong)="setSearch()"></app-playlist-tool>
        <app-search-bar [searchStarted]="settings.isSearch" [settings]="settings" [currentSong]="currentSong" [matOpened]="matOpened"
            (search)="onSearch($event)" (onKeyDown)="onKeyDown()"></app-search-bar>
        <mat-divider></mat-divider>
        <div class="playlist-title" [style.color]="currentSong.textColor">
            <mat-icon>playlist_add_check</mat-icon>
            <h2 class="playlist-header">Current Playlist ({{settings.currentPlaylist.length}} songs)</h2>
            <button mat-icon-button [style.color]="currentSong.textColor"
                (click)="searchedPlaylist=settings.currentPlaylist; searchItem=''" *ngIf="!isCurrentPlaylist()">
                <mat-icon>forward</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <ng-container *ngIf="!isCurrentPlaylist()">
            <div class="playlist-title" [style.color]="currentSong.textColor">
                <mat-icon>queue_music</mat-icon>
                <h2 class="playlist-header">Searched Playlist ({{searchedPlaylist.length}} songs)</h2>
            </div>
        </ng-container>
    </div>
    <mat-list role="list">
        <div cdkDropList class="track-list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let track of getPlayList();let i=index;" cdkDrag>
                <mat-list-item role="listitem" class="playlist-track" (click)="setCurrentIndex(i, track._id)">
                    <div class="utiity-box">
                        <div class="utiity-box-child" [class.current-song]="currentSong._id===track._id">
                            <div class="drag-handle mr-3" [style.color]="currentSong.textColor" cdkDragHandle
                                *ngIf="isCurrentPlaylist()">
                                <div class='d-flex h-100 drag-class'>
                                    <mat-icon>
                                        drag_indicator
                                    </mat-icon>
                                </div>
                            </div>
                            <div class="track-list-data" [title]="track.title+' ( ' +track.album + ' ) '">
                                <img [src]="getThumbNailSrc(track._id)" onerror="this.src='/assets/music-thumbnail.png'"
                                    class="thumbnail" [title]="track.album" loading="lazy">
                                <div class="track-text" class="marquee">
                                    <span class="track-title" [style.color]="currentSong.textColor">
                                        {{track.title}}
                                    </span>
                                    <br>
                                    <span class="track-artist" [style.color]="currentSong.textColor">
                                        {{track.artist}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="currentSong._id===track._id">
                            <app-playing-animation [audioStatus]="settings.audioStatus" [color]="currentSong.textColor">
                            </app-playing-animation>
                        </ng-container>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <div *cdkDragPreview class='preview-class-text'>
                    <span class="preview-panel" [style.display]="'flex'" [style.color]="currentSong.textColor">
                        <mat-icon>audiotrack</mat-icon>
                        <h1 [style.fontWeight]="'bold'">{{track.title}}</h1>
                    </span>
                </div>
            </div>
        </div>
    </mat-list>
</ng-container>