.fixed-toolbar {
    .playlist-title {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 5px 20px 10px;
        user-select: none;

        .playlist-header {
            font-size: 14px;
            font-weight: 600;
            margin: 0 0 0 20px;
            text-transform: uppercase;
        }
    }
}

.track-list {
    .playlist-track {
        .utiity-box {
            align-items: center;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .utiity-box-child {
                align-items: center;
                display: flex;
                justify-content: flex-start;
                cursor: pointer;
                width: 100%;

                &.current-song {
                    width: calc(100% - 60px);
                }
            }

            .drag-handle {
                cursor: move;
            }

            .track-list-data {
                display: flex;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                .thumbnail {
                    height: 50px;
                    margin-right: 10px;
                    width: 50px;
                }

                .track-title {
                    font-weight: 600;
                    font-size: 16px;
                }

                .track-artist {
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
}

::ng-deep {
    .mdc-list {
        padding: 0 !important;
    }

    .mdc-list-item {
        padding: 0 !important;
    }
}

@keyframes slide-left {
    from {
        margin-left: 10%;
        width: 0vw;
    }

    to {
        margin-left: 0%;
        width: 23vw;
    }
}