.fixed-toolbar {
    .playlist-title {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 5px 20px 10px;
        user-select: none;

        .playlist-header {
            font-size: 14px;
            font-weight: 600;
            margin: 0 0 0 20px;
            text-transform: uppercase;
        }
    }
}

.track-list {
    padding: 0 0 20px;
    ::ng-deep {
        .mdc-list {
            padding: 0 !important;
        }

        .mdc-list-item {
            padding: 0 !important;
        }
    }
}