<ng-container>
    <div class="fixed-toolbar">
        <app-playlist-tool [settings]="settings" [textColor]="currentSong.textColor" (sortSong)="sortSong($event)"
            (closePlayList)="closePlayList()" (searchSong)="setSearch()">
        </app-playlist-tool>
        <app-search-bar [searchItem]="searchItem" [isSearching]="settings.isSearching" [settings]="settings"
            [currentSong]="currentSong" [matOpened]="matOpened" (search)="onSearch($event)" (onKeyDown)="onKeyDown()">
        </app-search-bar>
        <mat-divider></mat-divider>
        <div class="playlist-title" [style.color]="currentSong.textColor">
            <mat-icon>playlist_add_check</mat-icon>
            <h2 class="playlist-header">Current Playlist ({{settings.currentPlaylist.length}} songs)</h2>
            <button mat-icon-button [style.color]="currentSong.textColor"
                (click)="searchedPlaylist=settings.currentPlaylist; searchItem=''" *ngIf="!isCurrentPlaylist()">
                <mat-icon>forward</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <ng-container *ngIf="!isCurrentPlaylist()">
            <div class="playlist-title" [style.color]="currentSong.textColor">
                <mat-icon>queue_music</mat-icon>
                <h2 class="playlist-header">Searched Playlist ({{searchedPlaylist.length}} songs)</h2>
            </div>
        </ng-container>
    </div>
    <mat-list role="list">
        <div cdkDropList class="track-list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let track of getPlayList();let i=index;" cdkDrag (click)="setCurrentIndex(i, track._id)">
                <app-list-tile [searchItem]="searchItem" [isCurrentPlaylist]="isCurrentPlaylist()" [settings]="settings"
                    [currentSong]="currentSong" [track]="track">
                </app-list-tile>
                <div *cdkDragPreview class='preview-class-text'>
                    <span class="preview-panel" [style.color]="currentSong.textColor">
                        <div class="preview-title-container">
                            <span class="preview-title">{{track.title}}</span>
                            <span class="preview-album">{{track.album}}</span>
                        </div>
                        <img [src]="getThumbNailSrc(track._id)" onerror="this.src='/assets/music-thumbnail.png'"
                            class="thumbnail" [title]="track.album" loading="lazy">
                    </span>
                </div>
            </div>
        </div>
    </mat-list>
</ng-container>