.signup-form {
    display: flex;
    flex-direction: column;

    .signup-name {
        display: flex;
        flex-direction: row;
    }

    .name-width {
        margin: 1px;
        width: 250px;
    }

    .signup-width {
        margin: 1px;
        width: 500px;
    }

    .dropdown-country {
        align-items: center;
        display: flex;

        .flag-image {
            border: 1px solid silver;
            height: auto;
            margin-right: 10px;
            width: 30px;
        }

        .code {
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    ::ng-deep {
        .cdk-global-overlay-wrapper {
            justify-content: flex-end !important;
        }
    }
}