::ng-deep {
    .cdk-global-overlay-wrapper {
        justify-content: flex-end !important;
    }
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-name {
    display: flex;
    flex-direction: row;
}

.name-width {
    width: 250px;
    margin: 1px;
}

.signup-width {
    width: 500px;
    margin: 1px;
}

.dropdown-country{
    display: flex;
    align-items: center;

    .flag-image{
        width: 30px;
        height: auto;
        border:1px solid silver;
        margin-right: 10px;
    }

    .code{
        text-transform: uppercase;
        font-weight: bold;
    }
}