<div class="navbar" [style.backgroundColor]="isBackGroundVisible?'#000000':'transparent'">
    <div class="logo-wrapper" (click)="router.navigate(['/'])">
        <div class="logo-container">
            <a title="MusicMania">
                <img src="/assets/music-mania-logo.png" class="logo-img"
                    [style.animationPlayState]="isPlaying?'running':'paused'"
                    [style.backgroundColor]="!displayTitle?'transparent': '#fff'">
            </a>
        </div>
        <div class="title-name" *ngIf="displayTitle">
            <span class="title-name-container">
                MUS<img src="/assets/music-mania-i.png" class="title-i">C MAN<img src="/assets/music-mania-i.png"
                    class="title-i">A
            </span>
            <app-playing-animation [audioStatus]="true" color="#F75660"></app-playing-animation>
        </div>
    </div>
    <button class="user-wrapper" [matMenuTriggerFor]="menu"  [style.backgroundColor]="!displayTitle||'#ffffff'"
                    [style.animationPlayState]="isPlaying?'running':'paused'">?</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon  [style.color]="currentSong?.textColor">login</mat-icon>
            <span  [style.color]="currentSong?.textColor">Log In</span>
        </button>
        <button mat-menu-item>
            <mat-icon  [style.color]="currentSong?.textColor">logout</mat-icon>
            <span  [style.color]="currentSong?.textColor">Log Out</span>
        </button>
        <button mat-menu-item>
            <mat-icon  [style.color]="currentSong?.textColor">app_registration</mat-icon>
            <span  [style.color]="currentSong?.textColor">Edit User</span>
        </button>
        <button mat-menu-item>
            <mat-icon [style.color]="currentSong?.textColor">person_add_alt_1</mat-icon>
            <span [style.color]="currentSong?.textColor">Sign Up!</span>
        </button>
    </mat-menu>
</div>