<mat-sidenav-container class="container" hasBackdrop="false">
    <mat-sidenav #sidenav class="playlist-sidenav" mode="side">
        <div class="fixed-navbar">
            <div class="close-button" [style.color]="currentSong?.textColor">
                <button mat-icon-button title="Search (S)" (click)="setSearch()">
                    <mat-icon>{{isSearch?'search_off':'search'}}</mat-icon>
                </button>
                <button mat-icon-button title="Close Playlist(Z)" (click)="sidenav.close();isSearch = false;searchItem='';filterSong();">
                    <mat-icon>close</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="sortMenu" aria-label="Example icon-button with a menu">
                    <mat-icon>sort</mat-icon>
                </button>
                <mat-menu #sortMenu="matMenu">
                    <button mat-menu-item (click)="sortSongByAlbum()">
                        <mat-icon [style.color]="currentSong?.textColor">collections</mat-icon>
                        <span [style.color]="currentSong?.textColor">Sort By Album</span>
                    </button>
                    <button mat-menu-item (click)="sortSongByTitle()">
                        <mat-icon [style.color]="currentSong?.textColor">music_note</mat-icon>
                        <span [style.color]="currentSong?.textColor">Sort By Title</span>
                    </button>
                </mat-menu>
            </div>
            <div class="search-bar" [style.background]="currentSong?.backgroundColor"
                *ngIf="isSearch && sidenav.opened">
                <mat-form-field class="search-input-wrapper">
                    <input matInput type="text" [(ngModel)]="searchItem" #searchInput (keydown)="onKeyUp($event)"
                        autocomplete="off">
                    <mat-label>Enter Artists, Albums or Songs</mat-label>
                    <button *ngIf="searchItem" matSuffix mat-icon-button aria-label="Clear"
                        (click)="searchItem='';filterSong();">
                        <mat-icon [style.color]="currentSong?.textColor">close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-chip-list class="hotlist">
                    <mat-chip class="example-box" *ngFor="let hotTitle of hotListItems"
                        (click)="searchItem=hotTitle;filterSong();">
                        {{hotTitle}}
                    </mat-chip>
                </mat-chip-list>
            </div>
            <mat-divider></mat-divider>
            <div class="playlist-title" [style.color]="currentSong?.textColor">
                <mat-icon>playlist_add_check</mat-icon>
                <h2 class="playlist-header">Current Playlist ({{currentPlaylist.length}} songs)</h2>
                <button mat-icon-button [style.color]="currentSong?.textColor"
                    (click)="searchedPlaylist=currentPlaylist; searchItem=''" *ngIf="!isCurrentPlaylist()">
                    <mat-icon>forward</mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
            <ng-container *ngIf="!isCurrentPlaylist()">
                <div class="playlist-title" [style.color]="currentSong?.textColor">
                    <mat-icon>queue_music</mat-icon>
                    <h2 class="playlist-header">Searched Playlist ({{searchedPlaylist.length}} songs)</h2>
                </div>
            </ng-container>
        </div>
        <mat-list role="list">
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let track of searchedPlaylist;let i=index;" cdkDrag>
                    <mat-list-item role="listitem" class="playlist-track" (click)="setCurrentIndex(i, track._id)">
                        <div class="utiity-box">
                            <div class="drag-handle mr-3" [style.color]="currentSong?.textColor" cdkDragHandle
                                *ngIf="isCurrentPlaylist()">
                                <div class='d-flex h-100 drag-class'>
                                    <mat-icon>
                                        drag_indicator
                                    </mat-icon>
                                </div>
                            </div>
                            <div class="track-list-data" [title]="track?.title">
                                <img [src]="getThumbNailSrc(track?.title)" class="thumbnail" [title]="track?.album">
                                <div class="track-text" class="marquee">
                                    <span class="track-title" [style.color]="currentSong?.textColor">
                                        {{track?.title}}
                                    </span>
                                    <br>
                                    <span class="track-artist" [style.color]="currentSong?.textColor">
                                        {{track?.artist}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="currentSong?._id===track?._id">
                            <app-playing-animation [audioStatus]="audioStatus" [color]="currentSong?.textColor"></app-playing-animation>
                        </ng-container>
                        
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <div *cdkDragPreview class='preview-class-text'>
                        <span class="preview-panel" [style.display]="'flex'" [style.color]="currentSong?.textColor">
                            <mat-icon>audiotrack</mat-icon>
                            <h1 [style.fontWeight]="'bold'">{{track?.title}}</h1>
                        </span>
                    </div>
                </div>
            </div>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-navbar *ngIf="!lock" [isPlaying]="audioStatus"  [isBackGroundVisible]="false" [displayTitle]="false"></app-navbar>
        <div class="page-wrapper">
            <div class="album-data" [style.background]="currentSong?.backgroundColor"
                [style.color]="currentSong?.textColor"
                [style.boxShadow]="'0 0 100px rgba(0,0,0,0), 0 0 200px rgba(0,0,0,0), 0 0 130px '+currentSong?.backgroundColor+', 0 0 170px '+currentSong?.backgroundColor+', 0 0 160px '+currentSong?.backgroundColor+', 0 0 180px '+currentSong?.backgroundColor+', 0 0 200px '+currentSong?.backgroundColor+''">
                <div class="song-title" *ngIf="currentSong?.title">
                    <mat-icon>music_note</mat-icon>
                    <marquee>
                        <span class="text">{{currentSong?.title}}</span>
                    </marquee>
                </div>
                <mat-divider></mat-divider>
                <div class="song-album" *ngIf="currentSong?.album">
                    <mat-icon>collections</mat-icon>
                    <span class="album" (click)="lock||setSearchBar(currentSong?.album)">
                        {{currentSong?.album?.trim()}}
                    </span>
                </div>
                <div class="song-artist" *ngIf="currentSong?.artist">
                    <mat-icon>people</mat-icon>
                    <div>
                        <ng-container *ngFor="let artist of currentSong?.artist; let i=index">
                            <span class="text" *ngIf="i">,&nbsp;</span><span class="artist"
                                (click)="lock||setSearchBar(artist)">{{artist?.trim()}}</span>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="album-image-wrapper" [style.background]="currentSong?.backgroundColor"></div>
            <div class="album-image" [style.backgroundImage]="'url('+getPicture()+')'"><img [src]="getPicture()"></div>
        </div>
        <div class="audio-container" [style.width]="sidenav.opened?'70vw': '-webkit-fill-available'">
            <div class="audio">
                <audio id='audioTrack'>
                    Audio tag not supported in this browser
                </audio>
            </div>
            <div class="control-panel-wrapper">
                <div class="full-screen-wrapper">
                    <div class="playlist" *ngIf="!lock" title="Open PlayList (Z)">
                        <button mat-icon-button [style.color]="currentSong?.textColor" (click)="sidenav.toggle()">
                            <mat-icon>queue_music</mat-icon>
                        </button>
                    </div>
                    <div class="lock" [title]="lock?'Unlock (U)':'Lock (L)'">
                        <button mat-icon-button [style.color]="currentSong?.textColor" (click)="setLock()">
                            <mat-icon>{{lock?'lock':'lock_open'}}</mat-icon>
                        </button>
                    </div>
                    <div class="full-screen" *ngIf="!lock"
                        [title]="fullScreen?'Exit Full Screen (F/F11/ ESC)':'Full Screen (F/F11)'">
                        <button mat-icon-button [style.color]="currentSong?.textColor" (click)="setFullScreen()">
                            <mat-icon>{{fullScreen?'fullscreen_exit':'fullscreen'}}</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="player-wrapper">
                    <div class='equilizer-wrapper' *ngIf="lock && audioStatus">
                        <app-equilizer></app-equilizer>
                    </div>
                    <div class="next-audio-wrapper">
                        <div class='next-song-preview' *ngIf="lock||currentDuration>duration-60">
                            <app-next-song-preview [lock]='lock' [nextSong]="getNextSong()"
                                (nextAudioEvent)='nextAudio()'></app-next-song-preview>
                        </div>
                    </div>
                    <div class="duration-slider" *ngIf="!lock">
                        <mat-slider class="audio-player" (input)="onPlayerInputChange($event)" [max]="duration" min="0"
                            step="1" aria-labelledby="Slider for the Audio" [(ngModel)]="currentDuration" thumbLabel
                            [displayWith]="formatTimeLabel">
                        </mat-slider>
                    </div>
                    <div class="duration-wrapper" *ngIf="!lock">
                        <div class="current-duration">
                            <span class="current-duration" id="duration-content"
                                [style.color]="currentSong?.textColor">00:00</span>
                        </div>
                        <div class="total-duration">
                            <span class="total-duration" id="total-duration-content"
                                [style.color]="currentSong?.textColor">00:00
                            </span>
                        </div>
                    </div>
                    <div class="controls-wrapper" *ngIf="!lock">
                        <div class="rewind-button" title="Rewind 10s (Left Arrow)">
                            <button mat-icon-button [style.color]="currentSong?.textColor" (click)="rewind()">
                                <mat-icon>replay_10</mat-icon>
                            </button>
                        </div>

                        <div class="shuffle" title="Shuffle/ Sort(X)">
                            <button mat-icon-button [disabled]="loop" [style.color]="currentSong?.textColor"
                                (click)="setShuffle()">
                                <mat-icon>{{shuffle?"shuffle_on":"shuffle"}}</mat-icon>
                            </button>
                        </div>

                        <div class="skip-previous-button" title="Previous (P)">
                            <button [disabled]="loop" mat-icon-button
                                [style.color]="currentSong?.textColor" (click)="prevAudio()">
                                <mat-icon>skip_previous</mat-icon>
                            </button>
                        </div>

                        <div class="play-button" title="Play/ Pause (Space)">
                            <button mat-icon-button [style.color]="currentSong?.textColor" (click)="playAudio()">
                                <mat-icon>{{audioStatus?'pause':'play_arrow'}}</mat-icon>
                            </button>
                        </div>

                        <div class="skip-next-button" title="Next (N)">
                            <button [disabled]="loop" mat-icon-button [style.color]="currentSong?.textColor"
                                (click)="nextAudio()">
                                <mat-icon>skip_next</mat-icon>
                            </button>
                        </div>

                        <div class="repeat" title="Repeat (R)">
                            <button mat-icon-button [style.color]="currentSong?.textColor" (click)="loop = !loop">
                                <mat-icon>{{loop?"repeat_on":"repeat_one"}}</mat-icon>
                            </button>
                        </div>

                        <div class="forward-button" title="Forward 10s (Left Arrow)">
                            <button mat-icon-button [style.color]="currentSong?.textColor" (click)="forward()">
                                <mat-icon>forward_10</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="volume-layer" *ngIf="!lock">
                    <div class="volume-slider">
                        <mat-slider class="audio-volume" (change)="setVolume()" max=" 1" min="0" step="0.1"
                            vertical="true" [(ngModel)]="volume" aria-labelledby="Slider for the Volume">
                        </mat-slider>
                    </div>

                    <div class="volume-button" (click)="muteAudio()">
                        <button mat-icon-button [style.color]="currentSong?.textColor">
                            <mat-icon>
                                {{muted?'volume_off ': volume>0.5?'volume_up ':volume===0?'volume_mute':'volume_down '}}
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>