.page-wrapper {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;

    .album-data {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;
        padding-bottom: 250px;
        padding-top: 150px;
        width: 50%;
        z-index: 100;

        .song-title {
            align-items: center;
            display: flex;
            font-size: 48px;
            font-weight: 700;
            gap: 30px;
            line-height: 1;
            text-transform: capitalize;
        }

        .song-album {
            align-items: center;
            display: flex;
            font-size: 30px;
            font-weight: 600;
            gap: 30px;
            line-height: 1;
            text-transform: capitalize;

            .album {
                cursor: pointer;
            }
        }

        .song-artist {
            align-items: center;
            display: flex;
            font-size: 30px;
            font-weight: bold;
            gap: 30px;
            line-height: 1;
            text-transform: capitalize;

            .artist {
                cursor: pointer;
            }
        }
    }

    .album-image {
        background-size: cover;
        user-select: none;
        width: 50%;
        z-index: 1;

        img {
            height: 100%;
            opacity: 0.8;
            width: 100%;
        }
    }

    .album-image-wrapper {
        height: 100%;
        opacity: 0.7;
        position: absolute;
        right: 0;
        width: fit-content;
        z-index: 50
    }
}

.audio-container {
    bottom: 0;
    padding: 2% 3%;
    position: fixed;
    z-index: 200;

    .control-panel-wrapper {
        display: flex;

        .volume-layer {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .player-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .next-audio-wrapper {
                display: flex;
                height: 60px;
                justify-content: center;
                padding: 0 6%;
                width: 50%;
            }

            .duration-slider {
                padding: 0 6% 0;
                width: auto;

                .audio-player {
                    padding-bottom: 0;
                    width: 100%;
                }
            }

            .duration-wrapper {
                display: flex;
                justify-content: space-between;
                margin: -16px 10px 0;
                padding: 0 6%;
                user-select: none;

                .current-duration {
                    font-weight: bold
                }

                .total-duration {
                    font-weight: bold
                }
            }

            .controls-wrapper {
                display: flex;
                gap: 5%;
                justify-content: center;
            }
        }

        .full-screen-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

::ng-deep {

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 0 0 5px grey;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #000000;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #000000;
        border-radius: 10px;
    }

    .playlist-sidenav {
        width: 25vw;

        .close-button {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            left: 25vw;
            position: fixed;
            width: 100%;
        }

        .playlist-title {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 5px 20px 10px;

            .playlist-header {
                font-size: 14px;
                font-weight: 600;
                margin: 0 0 0 20px;
                text-transform: uppercase;
            }
        }

        .playlist-track {
            cursor: pointer;

            .utiity-box {
                align-items: center;
                display: flex;

                .drag-handle {
                    cursor: move;
                }

                .track-list-data {
                    display: flex;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 15vw;

                    .thumbnail {
                        height: 50px;
                        margin-right: 10px;
                        width: 50px;
                    }

                    .track-artist {
                        font-size: 12px;
                    }
                }
            }

            .mat-list-item-content {
                display: flex;
                font-weight: 700;
                justify-content: space-between;
            }
        }
    }

    .mat-icon {
        font-size: 36px !important;
        height: 36px !important;
        line-height: 36px !important;
        width: 36px !important;
    }

    .mat-icon-button {
        &.mat-button-disabled {
            opacity: 0.3;
        }
    }

    .mat-sidenav-container {
        height: 100vh !important;
    }

    .mat-slider-thumb-label-text {
        font-weight: bold;
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #ffffff, 0 0 4px #ffffff;
    }

    .mat-standard-chip {
        color: #fff !important;
        font-size: 10px;
        min-height: 24px !important;
        opacity: 0.6;
    }

    .mat-slider-thumb {
        box-shadow: 0 0 0 1px #fff;
    }

    .mat-slider-track-wrapper {
        box-shadow: 0 0 0 1px #fff;
    }

    .player-icon {
        mat-icon {
            text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #ffffff, 0 0 1px #ffffff;
        }
    }
}