<mat-stepper linear #stepper>
    <mat-step [stepControl]="emailFormGroup" editable="true">
        <form [formGroup]="emailFormGroup">
            <ng-template matStepLabel>Fill out your Email Id</ng-template>
            <mat-form-field class="login-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="emailFormControl" (keydown)="onKeyDown($event)"
                    autocomplete="off" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormGroup.get('emailFormControl')?.hasError('email') && 
                           !emailFormGroup.get('emailFormControl')?.hasError('required')">
                    Please enter a valid email address.
                </mat-error>
                <mat-error *ngIf="emailFormGroup.get('emailFormControl')?.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-raised-button color="primary" matStepperNext cdkFocusInitial (click)="forgetPassword()"
                    [disabled]="!emailFormGroup.valid">Next</button>
            </mat-dialog-actions>
        </form>
    </mat-step>
    <mat-step [stepControl]="contactFormGroup" editable="true">
        <form [formGroup]="contactFormGroup">
            <ng-template matStepLabel>Fill out your contact</ng-template>
            <ng-container *ngIf=" !forgetError;else forgetMessage">
                <mat-form-field class="login-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput autocomplete="off"
                        [value]="emailFormGroup.get('emailFormControl')?.value" [disabled]="true">
                </mat-form-field>
                <div>Fill up pending contact Details</div>
                <div formArrayName="contacts">
                    <ng-container *ngFor="let arr of contactFormGroup.get('contacts')?.value; let i=index">
                        <mat-form-field class="contact-width" appearance="fill">
                            <input matInput [id]="'array-'+i" type="number" pattern="[0-9]*"
                                (keydown)="onContactKeyDown(i,$event)" autocomplete="off" placeholder="X"
                                [formControlName]="i" [readonly]="contact[i]" [value]="contactFormGroup.get('contacts')?.value[i]">
                        </mat-form-field>
                    </ng-container>
                    <div *ngIf="!isValidFormArray();" style="color:red;">
                        Contact Details Required
                    </div>
                </div>
            </ng-container>
            <ng-template #forgetMessage>
                <div *ngIf="this.forgetError" style="color:red;">
                    {{this.forgetError}}
                </div>
            </ng-template>
        </form>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button cdkFocusInitial color="primary" (click)="updateError=''" [disabled]="!isValidFormArray() && forgetError"
                matStepperNext>Next</button>
            <button mat-raised-button color="primary" *ngIf="forgetError">SignUp</button>
        </mat-dialog-actions>
    </mat-step>
    <mat-step [stepControl]="passwordFormGroup" editable="true">
        <form [formGroup]="passwordFormGroup">
            <ng-template matStepLabel>Fill out 
                your password</ng-template>
            <mat-form-field class="login-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput autocomplete="off" [value]="emailFormGroup.get('emailFormControl')?.value"
                    [disabled]="true">
            </mat-form-field>
            <div>
                <mat-form-field class="login-width" appearance="fill">
                    <mat-label>Contact</mat-label>
                    <input type="number" matInput autocomplete="off"
                        [value]="contactFormGroup.get('contacts')?.value.join('')" [disabled]="true">
                </mat-form-field>
            </div>
            <div class="signup-name">
                <mat-form-field class="name-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input [type]="passwordType" matInput formControlName="passwordFormControl"
                        (keydown)="onKeyDown($event)" autocomplete="off" placeholder="Enter your password.">
                    <mat-icon (click)="passwordType=passwordType==='password'?'text':'password'" matSuffix>
                        {{passwordType==='password'?'visibility':'visibility_off'}}
                    </mat-icon>
                    <mat-error *ngIf="passwordFormGroup.get('passwordFormControl')?.hasError('minlength') && 
                               !passwordFormGroup.get('passwordFormControl')?.hasError('required')">
                        Please enter minimum 8 character password
                    </mat-error>
                    <mat-error *ngIf="passwordFormGroup.get('passwordFormControl')?.hasError('pattern') && 
                               !passwordFormGroup.get('passwordFormControl')?.hasError('required') && 
                               !passwordFormGroup.get('passwordFormControl')?.hasError('minlength')">
                        Please enter atleast 1 digit in password
                    </mat-error>

                    <mat-error *ngIf="passwordFormGroup.get('passwordFormControl')?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="name-width" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput formControlName="confirmPasswordFormControl"
                        (keydown)="onKeyDown($event)" autocomplete="off" placeholder="Enter your password."
                        [errorStateMatcher]="matcher">
                    <mat-icon matSuffix>
                        {{!passwordFormGroup?.hasError('notSame') &&
                        !passwordFormGroup.get('passwordFormControl')?.hasError('pattern') &&
                        !passwordFormGroup.get('passwordFormControl')?.hasError('required') &&
                        !passwordFormGroup.get('passwordFormControl')?.hasError('minlength')?'check':'password'}}
                    </mat-icon>
                    <mat-hint *ngIf="!passwordFormGroup?.hasError('notSame')  && 
                        !passwordFormGroup.get('passwordFormControl')?.hasError('pattern') &&
                        !passwordFormGroup.get('passwordFormControl')?.hasError('required') &&
                        !passwordFormGroup.get('passwordFormControl')?.hasError('minlength')">
                        Your password is matched.
                    </mat-hint>
                    <mat-error *ngIf="passwordFormGroup?.hasError('notSame') ">
                        Password does not <strong>match.</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="updateError" style="color:red;">
                {{this.updateError}}
            </div>
            <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-raised-button cdkFocusInitial color="primary" *ngIf="!updateError" [disabled]="!passwordFormGroup.valid"
                    (click)="submit()">SUBMIT</button>
            </mat-dialog-actions>
        </form>
    </mat-step>
</mat-stepper>