::ng-deep {
    .cdk-global-overlay-wrapper {
        justify-content: flex-end !important;
    }
}

.login-width {
    width: 500px;
}

.name-width {
    margin: 1px;
    width: 250px;
}

.contact-width {
    margin: 2px;
    width: 47px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}