@import "/src/styles.scss";

.parallax {
    background-attachment: fixed;
    background-image: url("/assets/musical-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1050px;
}


.about {
    background-color: $music-mania-black;
    color: $music-mania-pink;
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 120px;
}

.tips-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .tips-wrapper {
        display: flex;
        flex-direction: row;

        .center-container {
            align-items: center;
            background: $music-mania-black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 100px;
            width: 100%;

            .web-image {
                height: 514px;
                width: 681px;
            }

            .title {
                .main {
                    color: $music-mania-pink;
                    font-size: larger;
                }

                color: #ffffff;
                font-size: 30px;
                font-style: italic;
                font-weight: bolder;
                padding:20px;
            }
        }

        .side-container {
            background: #373737;
            color: white;
            display: flex;
            flex-direction: column;
            padding: 140px 20px 60px;
            width: 50%;

            &.business {
                padding: 180px 100px 180px;
            }

            .tip-card {
                display: flex;
                flex-direction: row;
                padding-bottom: 70px;

                &.front {
                    background: $music-mania-black;
                    border-radius: 20px;
                    flex-direction: column;
                    padding: 50px;

                    .title-bar {
                        background: $music-mania-pink;
                        height: 10px;
                        margin: 4px;
                        width: 100%;
                    }

                    .title-wrapper {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;

                        .text-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 10px 0 10px 20px;

                            .title-name {
                                color: $music-mania-pink;
                                font-size: 28px;
                                font-weight: 800;

                                .white {
                                    color: #ffffff;
                                    font-size: smaller;
                                }
                            }

                            .description-name {
                                color: #ffffff;
                                font-weight: 600;
                                padding-top: 20px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                &.back {
                    background: #ffffff;
                    border-radius: 20px;
                    flex-direction: column;
                    padding: 50px;

                    .title-bar {
                        background: $music-mania-pink;
                        height: 10px;
                        margin: 4px;
                        width: 100%;
                    }

                    .title-wrapper {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        .image{
                            height:200px;
                            padding: 15px;
                        }

                        .text-wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 10px 0 10px 20px;

                            .card-row {
                                display: flex;
                                padding-top: 20px;

                                .icon {
                                    color: $music-mania-pink;
                                    padding-right: 10px;
                                }

                                .title {
                                    font-weight: 600;

                                    .anchor {
                                        color: $music-mania-black;
                                        text-decoration: none;
                                    }
                                }
                            }

                            .title-name {
                                color: $music-mania-pink;
                                font-size: 28px;
                                font-weight: 800;

                                .white {
                                    color: $music-mania-black;
                                    font-size: smaller;
                                }
                            }

                            .description-name {
                                border-bottom: 3px solid $music-mania-pink;
                                color: $music-mania-black;
                                font-weight: 600;
                                padding-top: 20px;
                                text-align: center;
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                .number-class {
                    align-items: center;
                    color: $music-mania-pink;
                    display: flex;
                    flex-direction: row;
                    font-size: 36px;
                    font-weight: 800;
                    justify-content: center;
                    padding: 0 20px 0 10px;
                }

                .text-class {
                    display: flex;
                    flex-direction: column;

                    .title {
                        color: $music-mania-pink;
                        font-size: 24px;
                    }

                    .description {
                        font-size: 20px;
                        line-height: 1.2;
                        padding-bottom: 10px;
                        padding-top: 10px;

                        code {
                            background: rgba(0, 0, 0, 0.3);
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

.parallax-container {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-top: -980px;
    z-index: 500;

    .card-container {
        padding-left: 30%;
        padding-right: 30%;

        .parallax-card {
            background-color: transparent;
            color: $music-mania-pink;
            display: flex;
            flex-direction: column;
            font-weight: bold;
            justify-content: center;
            padding-bottom: 50px;
            width: 500px;

            .mat-card-subtitle {
                color: $music-mania-pink;
                display: flex;
                font-weight: 200;
                justify-content: flex-end;
            }

            .mat-card-title {
                color: $music-mania-pink;
                display: flex;
                justify-content: flex-end;
            }

            .mat-card-content {
                font-size: 26px;
                font-style: italic;
                font-weight: 800;
                line-height: 1.3;
            }
        }
    }
}