<app-navbar [isPlaying]="true" [displayTitle]="false" [isBackGroundVisible]="false"></app-navbar>
<div class="about">About</div>
<div class="parallax"></div>
<div class="parallax-container">
    <div class="card-container">
        <mat-card class="parallax-card">
            <mat-card-content>
                <p>‘‘Music is the language of the spirit."</p>
            </mat-card-content>
            <mat-card-title>- Gibran Khalil Gibran</mat-card-title>
            <mat-card-subtitle>a Lebanese-American writer</mat-card-subtitle>
        </mat-card>
        <mat-card class="parallax-card">
            <mat-card-content>
                <p>‘‘Music is life itself."</p>
            </mat-card-content>
            <mat-card-title>- Louis Armstrong</mat-card-title>
            <mat-card-subtitle>an American trumpeter and vocalist.</mat-card-subtitle>
        </mat-card>
        <mat-card class="parallax-card">
            <mat-card-content>
                <p>‘‘Music is the universal language of mankind."</p>
            </mat-card-content>
            <mat-card-title>- Henry Wadsworth Longfellow</mat-card-title>
            <mat-card-subtitle>an American witer</mat-card-subtitle>
        </mat-card>
        <mat-card class="parallax-card">
            <mat-card-content>
                <p>‘‘One good thing about music, when it hits you, you feel no pain."</p>
            </mat-card-content>
            <mat-card-title>- Bob Marley</mat-card-title>
            <mat-card-subtitle>an American singer</mat-card-subtitle>
        </mat-card>
        <mat-card class="parallax-card">
            <mat-card-content>
                <p>‘‘Music expresses feeling and thought, without language; it was below and before speech, and it is
                    above and beyond all
                    words."</p>
            </mat-card-content>
            <mat-card-title>- Robert G. Ingersoll</mat-card-title>
            <mat-card-subtitle>an American lawyer, writer, and oratorr</mat-card-subtitle>
        </mat-card>
    </div>
    <div class="tips-container">
        <div class="tips-wrapper">
            <div class="side-container">
                <div class="tip-card">
                    <div class="number-class">01</div>
                    <div class="text-class">
                        <div class="title">Use <b>Lock</b> for better experience.</div>
                        <div class="description"> Press<code> L </code>for lock or press
                            <code> <mat-icon>lock</mat-icon> </code> icon to lock the site for the best background view
                            with
                            equilizers and the nest song.
                        </div>
                    </div>
                </div>
                <div class="tip-card">
                    <div class="number-class">03</div>
                    <div class="text-class">
                        <div class="title">Use <b>Current Playlist Bar</b> for viewing/ modifing songs.</div>
                        <div class="description"> Press <code> C / Z </code> for accessing current playlist or press
                            <code> <mat-icon>queue_music</mat-icon> </code> icon
                            to display all the songs in Current Playlist and accessing additional functionalities such
                            as
                            search songs, search hotlist, sorting and creating new Playlists.
                        </div>
                    </div>
                </div>
                <div class="tip-card">
                    <div class="number-class">05</div>
                    <div class="text-class">
                        <div class="title">Feel the Song's <b>Vibes and Moments</b> associated.</div>
                        <div class="description"> Press<code> R </code>to play a song in a Loop/Repeat or press
                            <code> <mat-icon>repeat_one</mat-icon> </code> icon
                            to feel each vibe and the nostalgiac/ imaginary moment and feel associated with the song.
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-container">
                <div class="tip-card">
                    <div class="number-class">02</div>
                    <div class="text-class">
                        <div class="title">Use <b>Search</b> to get your Desired Songs</div>
                        <div class="description">Press<code> S </code>Open playlist and grab on
                            search<code> <mat-icon>search</mat-icon> </code> icon on the top. You can search Songs,
                            Artist and Albums all at one place.</div>
                    </div>
                </div>
                <div class="tip-card">
                    <div class="number-class">04</div>
                    <div class="text-class">
                        <div class="title">Feel the <b>Moment</b></div>
                        <div class="description"> Yesteerday is the history and today is the mystery. Press
                            <code> Space Bar </code> or press
                            <code> <mat-icon>play_arrow</mat-icon>/<mat-icon>pause</mat-icon> </code> to play/pause and
                            enjoy the gift of the moment the Present.
                        </div>
                    </div>
                </div>
                <div class="tip-card">
                    <div class="number-class">06</div>
                    <div class="text-class">
                        <div class="title"><b>Login</b> for saving custom playlists</div>
                        <div class="description"> Use white circular bar on the top with <code> ? </code> icon
                            to login/signup and save custom playlist for future reference.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tips-wrapper">
            <div class="center-container"><img class="web-image" src="/assets/music-mania-web-developer.png">
                <div class="title">- Made By <span class="main">Shivam Kumar Giri</span>, Web Designer and Developer.
                </div>
            </div>
        </div>
        <div class="tips-wrapper">
            <div class="side-container business">
                <div class="tip-card front">
                    <div class="title-bar">
                    </div>
                    <div class="title-wrapper">
                        <img class="image" src="/assets/shivam-logo.png" />
                        <div class="text-wrapper">
                            <div class="title-name">S<span class="white">HIVAM</span> K<span class="white">UMAR</span>
                                G<span class="white">IRI</span></div>
                            <div class="description-name">Web developer ans Designer</div>
                        </div>
                    </div>
                    <div class="title-bar"></div>
                </div>
            </div>
            <div class="side-container business">
                <div class="tip-card back">
                    <div class="title-bar"></div>
                    <div class="title-wrapper">
                        <img class="image" src="/assets/js-love.png" />
                        <div class="text-wrapper">
                            <div class="title-name">S<span class="white">HIVAM</span> K<span class="white">UMAR</span>
                                G<span class="white">IRI</span>
                            </div>
                            <div class="description-name">Web developer ans Designer</div>
                            <div class="card-row">
                                <div class="icon">
                                    <mat-icon>mail</mat-icon>
                                </div>
                                <div class="title"><a class="anchor"
                                        href="mailto:shivamgiri2015@gmail.com">shivamgiri2015@gmail.com</a></div>
                            </div>
                            <div class="card-row">
                                <div class="icon">
                                    <mat-icon>call</mat-icon>
                                </div>
                                <div class="title"><a class="anchor" href="tel:+919361688508">+919361688508</a></div>
                            </div>
                            <div class="card-row">
                                <div class="icon">
                                    <mat-icon>flag</mat-icon>
                                </div>
                                <div class="title"><a class="anchor">India</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="title-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>