@import "/src/styles.scss";

.playlist-track {
    .utiity-box {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;


        .utiity-box-child {
            align-items: center;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }

        &.current-song {
            .utiity-box-child {
                width: calc(100% - 60px);
            }
        }

        ::ng-deep .highlight {
            font-weight: bold;
            background-color: $music-mania-highlight;
            filter: alpha(opacity=50);
        }

        .drag-handle {
            cursor: move;

            .drag-class {
                margin: 0 2px;
            }
        }

        .track-list-data {
            display: flex;
            overflow: hidden;
            text-overflow: ellipsis;
            user-select: none;
            white-space: nowrap;

            .thumbnail {
                height: 50px;
                margin: 0 10px 0 6px;
                width: 50px;
            }

            .track-title {
                font-size: 16px;
                font-weight: 600;
                user-select: none;
            }

            .track-artist {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}