::ng-deep {
    .cdk-global-overlay-wrapper {
        justify-content: flex-end !important;
    }
}

.file-name {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .file-loaded {
        align-items: center;
        display: flex;
    }
}

.drag-drop {
    align-items: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .input {
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .or {
        padding: 30px;
    }

    .upload-icon {
        margin-top: 40px;
    }

    .upload-button {
        margin-bottom: 20px;
    }
}

.image-container {
    display: flex;
    align-items: center;

    .input-picture {
        width: 100%;
    }
}

.color-container {
    align-items: center;
    display: flex;

    .inner-bar {
        padding: 10px;

        .color-title {
            display: block;
            font-weight: bold;
        }

        .color-picker {
            align-items: center;
            display: flex;

            .color-pallete {
                border: 1px solid black;
            }

            .color-class {
                height: 50px;
                margin: -4px 0 0 -43px;
                opacity: 0;
                position: absolute;
                width: 50px;
                z-index: 4;
            }
        }
    }
}

.track-container {
    .artist-title {
        display: block;
        font-weight: bold;
    }
    .artist-form{
        display: flex;
        flex-direction: column;
    }
}